<div *ngIf="!quizStarted">
  <section *ngIf="loading">
    <div class="skeleton h-10 w-80 rounded-md mb-3 mx-auto"></div>
    <div class="skeleton h-7 w-80 rounded-md mb-3"></div>
    <div class="skeleton h-7 w-80 rounded-md mb-3"></div>
    <div class="skeleton h-7 w-80 rounded-md mb-3"></div>
    <div class="skeleton h-7 w-80 rounded-md mb-3"></div>
    <div class="skeleton h-7 w-80 rounded-md mb-3"></div>
  </section>

  <section
    *ngIf="!loading"
    class="flex flex-col justify-end items-center gap-1"
  >
    <h1 class="text-4xl">{{ quiz.title }}</h1>
    <p class="text-gray-400">{{ quiz.teacherName }}</p>
    <p class="text-gray-500">{{ quiz.createdAt | timeAgo }}</p>
    <p>Questions: {{ quiz.questionsNumber }}</p>
    <button (click)="takeQuiz()" class="btn btn-primary mx-auto w-fit">
      Take Quiz
    </button>
  </section>
</div>

<div *ngIf="quizStarted">
  <h1 class="text-4xl text-center">{{ quiz.title }}</h1>
  <ul class="list-decimal">
    <li *ngFor="let question of questions">
      <h2>{{ question.title }}</h2>
      <ul class="list-disc ms-5">
        <li *ngFor="let answer of question.answers">{{ answer.title }}</li>
      </ul>
    </li>
  </ul>
</div>
