<div
  class="rounded-3xl md:h-60 border dark:border-gray-600 hover:bg-gray-300 dark:hover:bg-gray-600 transition-colors"
>
  <a
    class="h-full w-full flex flex-col justify-between gap-5 p-5"
    [routerLink]="[(isTeacher$ | async) ? '/edit-quiz' : '/quizzes', quiz.id]"
  >
    <div>
      <div class="flex gap-3">
        <h3
          class="text-2xl overflow-visible md:truncate mb-3"
          data-tooltip-target="tooltip-default"
        >
          {{ quiz.title }}
        </h3>
        <fa-icon [icon]="faGlobe" *ngIf="quiz.isPublic" size="xl"></fa-icon>
        <fa-icon [icon]="faLock" *ngIf="!quiz.isPublic" size="xl"></fa-icon>
      </div>
      <div
        id="tooltip-default"
        role="tooltip"
        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
      >
        {{ quiz.title }}
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
      <h4 class="text-xl overflow-visible md:truncate">
        {{ quiz.score }} degrees
      </h4>
    </div>
    <p class="text-gray-400 overflow-visible md:truncate">
      {{ quiz.description }}
    </p>
    <div class="flex justify-between">
      <small class="text-gray-400 text-sm">{{ quiz.teacherName }}</small>
      <small class="text-gray-400 text-sm">{{
        quiz.createdAt | timeAgo
      }}</small>
    </div>
  </a>
</div>
